ul {
    list-style: none;
}

.section-1 {
    position:relative;
    height:600px;
    width:100%;
    background-color:#FFFFFF
}
.dropdown-container {
    position:relative;
    background-color:#FFFFFF
}
.footer {
    height:80px;
    width:100%;
    background-color:#B0B0B0
}

/* ---------------------------轮播图背景--------------------------- */
.section-1 .slides-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
.section-1 .slides-container .slides-list {
    display: flex;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.section-1 .slides-container .slides-list img {
    min-width: 100%;
    cursor: pointer;
}
.section-1 .slides-container .circles-list {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    width: 120px;
    height: 20px;
}
.section-1 .slides-container .circles-list .circle {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background-color: #ECF0F1;
    border-radius: 50%;
} 
.section-1 .slides-container .circles-list .circle.active {
    background-color: #B0B0B0;
}

/* ---------------------------搜索框--------------------------- */
.section-1 .search-container {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 350px;
    background-color: #FFFFFF ;
}
.section-1 .search-container .search-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#d8e4e88b;
}
.section-1 .search-container .search-list .search-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 18%;
    background-color: #d8e4e88b ;
    box-shadow: 0 0 5px rgba(70, 70, 40, .255);
}
.section-1 .search-container .search-list .search-item label {
    margin-right: 10px;
    width: 20%;
    text-align: right;
}
.section-1 .search-container .search-list .search-item .input-container {
    height: 40%;
    width: 55%;
    background-color:#FFFFFF;
    border:1px solid rgb(74, 73, 73);
    outline: 0;
    font-size: 16px;
    opacity: 0.8;
    position: relative;
    display: flex;
    align-items: center;
}
.section-1 .search-container .search-list .search-item .input-container i{
    position: relative;
    left: 5px;
    width: 25px;
    height:auto;
}
.section-1 .search-container .search-list .search-item .input-container input {
    border: none;
    outline: none;
}
.section-1 .search-container .search-list .search-item .check-item {
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-1 .search-container .search-list .search-item .check-item input[type='checkbox'] { 
    height: 20px;
    width: 20px;
}
.section-1 .search-container .submit-container {
    width: 100%;
    height: 18%;
    margin-top: 15px;
    margin: 10px auto;
    background-color: transparent;
    position: relative;
}
.section-1 .search-container .submit-container button {
    display: inline-block;
    height: 35px;
    width: 100px;
    border-radius: 12px;
    background-color: #dbe1b18b;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0,.3);
}

/* ---------------------------下拉框--------------------------- */
.dropdown-container {
    position: absolute;
}
.dropdown-container .city-chose {
    display: none;
    position:absolute;
    width:350px;
    height: 300px;
    border: none;
    background-color: white;
}
.dropdown-container .city-chose .header {
    width: 100%;
    height: 10%;
    background-color:#a3c8eb;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    gap:10px;
    padding: 0;
    margin: 0;
    color: #655c5c;
}
.dropdown-container .city-chose .header .chose {
    padding: 5px 10px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    
}
.dropdown-container .city-chose .header .chose.active {
    font-weight:bold;
}
.dropdown-container .city-chose .header .chose:hover {
    color:rgb(232, 66, 6);
}
.dropdown-container .city-chose .body {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 30px;
    gap: 10px;
    padding: 0px;
    margin: 0px;
    color: #655c5c;
}
.dropdown-container .city-chose .body .city {
    padding: 5px 10px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
}
.dropdown-container .city-chose .body .city.active {
    font-weight:bold;
}
.dropdown-container .city-chose .body .city:hover {
    color:rgb(232, 66, 6);
}